<div data-contacts="<%= @contacts_serialized %>" id="contacts"></div>
<div data-user-email="<%= @user_email %>" id="user-email"></div>

<%= content_tag(:div, "", id: "app", data: { controller: "contacts-index" }) %>
